<p id="notice"><%= notice %></p>

<h1>Blogposts</h1>




    <div class="card" style="width: 18rem;">
      <%= image_tag("blogpost-examle-image.jpg", :alt => "Blogpost image", :class => "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Blog Title</h5>
        <p class="card-text">a short description of the blog</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
